body {
  color: #323332;
  font-family: 'Varela Round', sans-serif;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  padding-bottom: 20px;
}

label {
  font-size: 15px;
}

.question1, .question2, .question3, .question4, .question5, .question6, .question7, .question8, .question9, .question10 {
  padding: 10px;
}

.form-check {
  padding-left: 75px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.jumbotron {
  background-color: #28ccbe;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.btn {
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #28ccbe;
  border-color: #28ccbe;
  margin: 20px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.wrapper {
    text-align: center;
}

.nameInputSlots {
  text-align: center;
  margin: 40px;
}

.card {
  margin-top: 0px;
  min-width: 700px;
}

.card-body {
margin-top: -20px;
padding-top: -20px;
}

#epicodus-logo {
  width: 20%;
}

#titleText {
  color: white;
  font-size: 40px;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
}

#titleSlogan {
  font-size: 20px;
  color: #424141;
}

#resultBox {
  display: none;
  background-color: white;
  color: #323332;
  font-weight: lighter;
  border-color: #28ccbe;
  border-width: medium;
  border-style: dashed;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
}

#greeting {
  text-transform: capitalize;
}





/* Style the form */
#regForm {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  width: 70%;
  min-width: 700px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #28ccbe;
}
