body {
  color: #323332;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

label {
  font-size: 15px;
}

.question1,
.question2,
.question3,
.question4,
.question5,
.question6,
.question7,
.question8,
.question9,
.question10 {
  padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.jumbotron {
  background-color: #28ccbe;
  color: white;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.btn {
  background-color: #28ccbe;
  border-color: #28ccbe;
  margin: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.nameInputSlots {
  text-align: center;
  margin: 40px;
}
.card {
  margin-bottom: 50px;
}

#epicodus-logo {
  width: 20%;
}

#titleText {
  font-size: 30px;
}

#titleSlogan {
  font-size: 20px;
}

#resultBox {
  display: none;
  background-color: white;
  color: #323332;
  font-weight: lighter;
  border-color: #28ccbe;
  border-width: medium;
  border-style: dashed;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
}

#greeting {
  text-transform: capitalize;
}
